body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 32px;
  min-height: 100%;
}

html, body, #root {
  height: 100%;
}

.page {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}